#Idea files
/.idea
/custom/applications/*/out
/custom/modules/*/out

/vendor/*/out

#Eclipse files
.classpath
.settings
.project
.gitignore
!/.gitignore

#Gradle wrapper
/.gradle
/buildSrc/.gradle

#Build folders
/buildSrc/build
/build
/custom/applications/*/build
/custom/modules/*/build

/vendor/*/build

#Journal folder
/target